In [13]:
from datetime import date, timedelta
import pkgutil
start = date(2019, 8, 1)
end = date.today()
delta = end - start
dates = [start + timedelta(days=d) for d in range(delta.days + 1)]
idx = spark.createDataFrame(dates, "date").toDF("date")
# idx.show()
base_name = 'sql/'
legacy_sql_names = {
    'sql1.sql':"""SELECT count(tmp.id) usercount,tmp.create_time
                    FROM 
                        (SELECT date_format(create_time,'yyyy-MM-dd')as create_time, id
                        FROM `banda-etl-s3`.t_customer ) tmp   
                    GROUP BY  tmp.create_time
                    having tmp.create_time>  '2021-01-01'
                    order by tmp.create_time desc""",
    'sql2.sql':"""SELECT count(tmp.id) issuecount,tmp.create_time
                    FROM 
                        (SELECT date_format(create_time,'yyyy-MM-dd')as create_time, id
                        FROM `banda-etl-s3`.t_loan_issue  ) tmp
                    GROUP BY  tmp.create_time
                    having tmp.create_time>  '2020-12-01'
                    order by tmp.create_time desc""",
}
for name in  legacy_sql_names:
    print(name)
    prefix = name[:name.index('.')]
    print(prefix)
    df = spark.sql(legacy_sql_names[name])
    for c in df.columns:
        if c != 'date':
            df = df.withColumnRenamed(c, prefix+'_'+c)
    df.show()
# for name in legacy_sql_names:
# .decode("utf-8")
# print('/wide_table/test/'+base_name + 'sql1.sql')
# txt = pkgutil.get_data(
#     'work.wide_table.test', base_name + 'sql1.sql')
# print(txt)
# df = spark.sql(txt)
# prefix = name[:name.index('.')]
# for c in df.columns:
#     if c != 'date':
#         df = df.withColumnRenamed(c, prefix+'_'+c)
# legacy_df_list.append(df)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

sql1.sql
sql1
+--------------+----------------+
|sql1_usercount|sql1_create_time|
+--------------+----------------+
|          2270|      2021-05-08|
|          6244|      2021-05-07|
|          5532|      2021-05-06|
|          5207|      2021-05-05|
|          5632|      2021-05-04|
|          7269|      2021-05-03|
|          6517|      2021-05-02|
|          7507|      2021-05-01|
|          6859|      2021-04-30|
|          8956|      2021-04-29|
|          6901|      2021-04-28|
|          8371|      2021-04-27|
|          8747|      2021-04-26|
|          6549|      2021-04-25|
|          7402|      2021-04-24|
|          7886|      2021-04-23|
|          7774|      2021-04-22|
|          7230|      2021-04-21|
|          7570|      2021-04-20|
|          7403|      2021-04-19|
+--------------+----------------+
only showing top 20 rows

sql2.sql
sql2
+---------------+----------------+
|sql2_issuecount|sql2_create_time|
+---------------+----------------+
|           2162|      2021-05-08|
|           4824|      2021-05-07|
|           5049|      2021-05-06|
|           5395|      2021-05-05|
|           5943|      2021-05-04|
|           6869|      2021-05-03|
|           5083|      2021-05-02|
|           5762|      2021-05-01|
|           6261|      2021-04-30|
|           5466|      2021-04-29|
|           5389|      2021-04-28|
|           5492|      2021-04-27|
|           5356|      2021-04-26|
|           4655|      2021-04-25|
|           4898|      2021-04-24|
|           5260|      2021-04-23|
|           4554|      2021-04-22|
|           4349|      2021-04-21|
|           4857|      2021-04-20|
|           4838|      2021-04-19|
+---------------+----------------+
only showing top 20 rows

In [4]:
import os

print('***获取当前目录***')
print(os.getcwd())

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

***获取当前目录***
/