In [ ]:
sc.install_pypi_package("boto3")

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [8]:
import boto3
dynamodb=boto3.client('dynamodb',region_name='ap-southeast-1')
s3=boto3.client('s3',region_name='ap-southeast-1')
athena=boto3.client('athena',region_name='ap-southeast-1')
sqs=boto3.client('sqs',region_name='ap-southeast-1')
queueUrl='https://sqs.ap-southeast-1.amazonaws.com/855696220043/floatingShelf_exec_sql'
tableNm='AnalysisReportSql-v6q6okep3bebnkt4bszyldyyie-hanpeng'
sqlList=[]
execList=[]
def getsqlDetail(bucket,path):
    response = s3.get_object(
        Bucket=bucket,
        Key=path,
    )
    return response["Body"].read().decode('utf-8') if response["Body"] is not None else ''
def execAthenaSql(sql,tableNm):
    s3_output="s3://rupiahplus-data-warehouse/etl/floatingshelf/"+tableNm
    response = athena.start_query_execution(
        QueryString=sql,
        QueryExecutionContext={
            'Database': "han_test"
            },
        ResultConfiguration={
            'OutputLocation': s3_output,
            }
        )
    return {"tableNm":tableNm,"execId":response["QueryExecutionId"]}
def getRecord(record):
    sqlbucket=record["sqlbucket"]["S"]
    sqlpath=record["sqlpath"]["S"]
#     获取sql内容
    sqlDetail=getsqlDetail(sqlbucket,sqlpath)
    mobj={}
    mobj['sqlbucket']=sqlbucket
    mobj['sqlpath']=sqlpath
    mobj['tableNm']=record["tableNm"]["S"]
    mobj['executecycle']=record["executecycle"]["S"]
    mobj['sqlDetail']=sqlDetail
    return mobj
def getsqlList():
    response = dynamodb.scan(
        TableName=tableNm,
        Limit=1000,
        Select='ALL_ATTRIBUTES',
#         FilterExpression=" executecycle =:executecycle",
        #             ':executecycle': {
#                 'S': 'DAILY'
#             }
        FilterExpression="tbtype =:tbtype",
        ExpressionAttributeValues={
             ':tbtype': {
                'S': 'ID_CREDINEX'
            }
        }
    )
    sqlList=list(map(getRecord,response["Items"]))
    return sqlList
# 发送集合到sqs
def sendsqlDataToSqs():
    # 获取sql目录集合
    sqlList=getsqlList()
    if len(sqlList)>0:
        for i in sqlList:
            print(i)
            response = sqs.send_message(
                QueueUrl=queueUrl,
                MessageBody=str(i)
            )
            print(response)
sendsqlDataToSqs()            
# 执行sql
# def refreshQs():
#     # 获取sql目录集合
#     sqlList=getsqlList()
#     print(sqlList)
#     sqllength=len(sqlList)
#     i = 0
#     countNum = 0
#     while True:
#         print(sqlList[i * 5:(i + 1) * 5 if (i + 1) * 5 < sqllength else sqllength])
# #         countNum = execute(
# #             sqlList[i * 5:(i + 1) * 5 if (i + 1) * 5 < len(sqllength) else len(sqllength)], countNum)
#         i = i + 1
#         if countNum >= sqllength:
#             break
        # 睡5分钟
#         time.sleep(100)
# refreshQs()
# for i in sqlList:
#     print(i)
#     sql=getsqlDetail(i["sqlbucket"],i["sqlpath"])
#     execRestult=execAthenaSql(sql,i["tableNm"])
#     execList.append(execRestult)
# print(execList)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

{'sqlbucket': 'floatingshelf114234-hanpeng', 'sqlpath': 'private/athenaSQl/ID_credinex_loan_review_loan_review_manual_overdue.txt', 'tableNm': 'ID_credinex_loan_review_loan_review_manual_overdue', 'executecycle': 'DAILY', 'sqlDetail': 'with first_bill as\n(\n  select cast(de.customer_id as bigint) as user_id,case when de.repayment_date <= date(now()) then 1 else 0 end as is_expiry,\n  case when de.overdue_amount > 0 then 1 else 0 end as is_overdue\n  from\n  (\n    SELECT customer_id,min(id) as fist_bill_id\n    FROM "credinex_account_etl_s3"."t_credit_bill"\n    where capital_amount > 0  \n    group by customer_id\n  )fb\n  left join "credinex_account_etl_s3"."t_credit_bill" de\n  on fb.fist_bill_id = de.id\n),\npay as \n(\n  SELECT cast(customer_id as bigint) as user_id,count(id) as comsume_count\n  FROM "credinex_account_etl_s3"."t_payment_order"\n  where business_type=\'CONSUMPTION\'\n  group by customer_id\n),\ncase_detail as\n(\n  select flow.id,flow.next_status,info.user_id,\n  flow.update_time   as deal_time,\n  pool.assign_id as checker_id,pool.assign_name as name\n  from "arkham_etl_s3"."t_order_flow" flow\n  left join "arkham_etl_s3"."t_order_info" info\n  on flow.order_id = info.id\n  left join "credinex_hive_etl_s3"."t_order_pool" pool\n  on flow.order_id = pool.order_id and flow.reject_code = pool.code\n  where  flow.status = \'MANUAL\' and flow.reject_code = \'DC3001\' and flow.next_status is not null\n)\n\n\nselect date(cd.deal_time + interval \'7\' hour) as date,cd.checker_id,cd.name,\ncount(cd.id) as deal_count,\ncount(if( cd.next_status = \'UNDER_REVIEW\',cd.id,null)) as approved_count,\ncount(pay.user_id) as transaction_count,\ncount(if(fb.is_expiry = 1,pay.user_id,null)) as first_transaction_expiry_count,\ncount(if(fb.is_overdue = 1,pay.user_id,null)) as first_transaction_overdue_count,\n\n1.0*count(if( cd.next_status = \'UNDER_REVIEW\',cd.id,null))/count(cd.id) as approved_rate,\ncase when count(if(fb.is_expiry = 1,pay.user_id,null)) > 0 then 1.0*count(if(fb.is_overdue = 1,pay.user_id,null))/count(if(fb.is_expiry = 1,pay.user_id,null)) else 0 end as first_transaction_overdue_rate\n\n\nfrom case_detail cd\nleft join pay\non cd.user_id = pay.user_id\nleft join first_bill fb\non cd.user_id = fb.user_id\ngroup by date(cd.deal_time + interval \'7\' hour),cd.checker_id,cd.name\norder by date(cd.deal_time + interval \'7\' hour) desc,cd.checker_id,cd.name'}
{'MD5OfMessageBody': 'f5ead4de67a83c8e72933749ca35b10d', 'MessageId': '63d2be70-c247-4e1b-94ce-2e9de62009c0', 'ResponseMetadata': {'RequestId': 'efda9e9b-aeda-5981-8e7a-c671a71940f2', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amzn-requestid': 'efda9e9b-aeda-5981-8e7a-c671a71940f2', 'date': 'Fri, 09 Apr 2021 07:51:31 GMT', 'content-type': 'text/xml', 'content-length': '378'}, 'RetryAttempts': 0}}
{'sqlbucket': 'floatingshelf114234-hanpeng', 'sqlpath': 'private/athenaSQl/ID_credinex_loan_review_loan_review_manual.txt', 'tableNm': 'ID_credinex_loan_review_loan_review_manual', 'executecycle': 'DAILY', 'sqlDetail': 'with case_datail as\n(\n  select flow.id,flow.next_status,flow.reject_code,flow.create_time  + interval \'7\' hour as create_time,\n  case when flow.next_status is not null then flow.update_time  + interval \'7\' hour end as deal_time,\n  pool.assign_id as checker_id,pool.assign_name as name\n  from "arkham_etl_s3"."t_order_flow" flow\n  left join "credinex_hive_etl_s3"."t_admin" ad\n  on flow.checker_id = ad.id\n  left join "credinex_hive_etl_s3"."t_order_pool" pool\n  on flow.order_id = pool.order_id and flow.reject_code = pool.code\n  where  flow.status = \'MANUAL\' and reject_code = \'DC3001\'\n),\nca_date as(\n  select date(date) as date\n  from "banda-etl-s3"."t_date_range"\n  where date(date) >= date \'2020-07-02\' and date(date) <= date(now())\n)\nselect ca.date,cd.checker_id,cd.name,\n\ncount(if(date(cd.create_time) = ca.date,cd.id,null)) \n+ count(if(date(cd.create_time) < ca.date and date(cd.deal_time) >= ca.date,cd.id,null))\n+ count(if(date(cd.create_time) < ca.date and cd.deal_time is null,cd.id,null)) as total_case,\n\ncount(if(date(cd.create_time) <= ca.date and date(cd.deal_time) > ca.date,cd.id,null))\n+ count(if(date(cd.create_time) <= ca.date and cd.deal_time is null,cd.id,null)) as not_deal_count,\n        \ncount(if( date(cd.deal_time) = ca.date,cd.id,null)) as deal_count,\n        \ncount(if( date(cd.deal_time) = ca.date and cd.next_status = \'UNDER_REVIEW\',cd.id,null)) as approved_count,\ncount(if( date(cd.deal_time) = ca.date and cd.next_status = \'REJECTED\',cd.id,null)) as refused_count,\ncount(if( date(cd.deal_time) = ca.date and cd.next_status = \'CLOSED\',cd.id,null)) as close_count,\n\ncase when count(if( date(cd.deal_time) = ca.date,cd.id,null)) > 0 then 1.0*count(if( date(cd.deal_time) = ca.date and cd.next_status = \'UNDER_REVIEW\',cd.id,null))/count(if( date(cd.deal_time) = ca.date,cd.id,null)) else 0 end as approved_rate,\ncase when count(if( date(cd.deal_time) = ca.date,cd.id,null)) > 0 then 1.0*count(if( date(cd.deal_time) = ca.date and cd.next_status = \'REJECTED\',cd.id,null))/count(if( date(cd.deal_time) = ca.date,cd.id,null)) else 0 end as refused_rate,\ncase when count(if( date(cd.deal_time) = ca.date,cd.id,null)) > 0 then 1.0*count(if( date(cd.deal_time) = ca.date and cd.next_status = \'CLOSED\',cd.id,null))/count(if( date(cd.deal_time) = ca.date,cd.id,null)) else 0 end as close_rate\n\n\n\nfrom ca_date ca\nleft join case_datail cd\non ca.date >= date(cd.create_time)\ngroup by ca.date,cd.checker_id,cd.name\nhaving count(if(date(cd.create_time) = ca.date,cd.id,null))>0\n\norder by ca.date desc,cd.checker_id,cd.name'}
{'MD5OfMessageBody': '843bd3c94063f579205b741ebcfe13d4', 'MessageId': '8ee4b78b-9b27-4bf7-8cf1-3a517d77124e', 'ResponseMetadata': {'RequestId': '887a66b8-6f4b-5fb3-859a-3e526688c6c0', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amzn-requestid': '887a66b8-6f4b-5fb3-859a-3e526688c6c0', 'date': 'Fri, 09 Apr 2021 07:51:31 GMT', 'content-type': 'text/xml', 'content-length': '378'}, 'RetryAttempts': 0}}
{'sqlbucket': 'floatingshelf114234-hanpeng', 'sqlpath': 'private/athenaSQl/ID_credinex_risk_credit_summary_report.txt', 'tableNm': 'ID_credinex_risk_credit_summary_report', 'executecycle': 'DAILY', 'sqlDetail': 'with temp_credit_data as\n(\nselect\n\ta.*,\n\tb.reference_id,\n\tb.id as l_id,\n\tb.code,\n\tb.version,\n\tb.result,\n\t-- 节点拒贷率\n\tcase when b.code like \'%DC1%\' and b.result = \'reject\' then 1 -- 阀门拒贷\n\t\t when b.code like \'%DC2%\' and b.result = \'reject\' then 2 -- 验证拒贷\n\t\t when (b.code like \'%DC30%\' or b.code like \'%DC31%\' or b.code like \'%DC32%\') and b.result = \'reject\' then 3 -- 人审拒贷\n\t\t when (b.code like \'%DC36%\' or b.code like \'%DC37%\') and b.result = \'reject\' then 4 -- 电核拒贷\n\t\t when (b.code like \'%DC4%\' or b.code like \'%DC5%\' or b.code like \'%DC6%\' or b.code like \'%DC7%\' or b.code like \'%DC8%\') and b.result = \'reject\' then 5 -- 风控拒贷\n\telse 9 end as credit_result_v1,\n\t-- 规则拒贷率\n\tcase when (b.code like \'%DC101%\'\n\t\t   or b.code like \'%DC102%\'\n\t\t   or b.code like \'%DC103%\')\n\t\t   and b.result = \'reject\' then 1 -- 准入规则拒贷\n\t\t when (b.code like \'%DC105%\'\n\t\t   or b.code like \'%DC106%\'\n\t\t   or b.code like \'%DC107%\'\n\t\t   or b.code like \'%DC108%\')\n\t\t   and b.result = \'reject\' then 2 -- 重复申请拒贷\n\t\t when b.code like \'%DC11%\'\n\t\t   and b.result = \'reject\' then 3 -- 类黑名单拒贷\n\t\t when b.code like \'%DC12%\'\n\t\t   and b.result = \'reject\' then 4 -- 反欺诈拒贷\n\t\t when b.code like \'%DC15%\'\n\t\t   and b.result = \'reject\' then 5 -- 现金贷类拒贷\n\t\t when b.code like \'%DC201%\'\n\t\t   and b.result = \'reject\' then 6 -- 活体检测拒贷\n\t\t when b.code like \'%DC204%\'\n\t\t   and b.result = \'reject\' then 7 -- 实名校验拒贷\n\t\t when b.code like \'%DC30%\'\n\t\t   and b.result = \'reject\' then 8 -- 身份校验拒贷\n\t\t when b.code like \'%DC31%\'\n\t\t   and b.result = \'reject\' then 9 -- 公司信息校验拒贷\n\t\t when b.code like \'%DC32%\'\n\t\t   and b.result = \'reject\' then 10 -- 信用卡校验拒贷\n\t\t when b.code like \'%DC36%\'\n\t\t   and b.result = \'reject\' then 11 -- 紧急联系人电核拒贷\n\t\t when b.code like \'%DC37%\'\n\t\t   and b.result = \'reject\' then 12 -- 公司电核拒贷\n\t\t when b.code like \'%DC41%\'\n\t\t   and b.result = \'reject\' then 13 -- 职业信息拒贷\n\t\t when b.code like \'%DC42%\'\n\t\t   and b.result = \'reject\' then 14 -- 信用卡检测拒贷\n\t\t when b.code like \'%DC5%\'\n\t\t   and b.result = \'reject\' then 15 -- 手机号拒贷\n\t\t when b.code like \'%DC601%\'\n\t\t   and b.result = \'reject\' then 16 -- IZI多头拒贷\n\t\t when b.code like \'%DC602%\'\n\t\t   and b.result = \'reject\' then 17 -- AdvanceAI多头拒贷\n\t\t when b.code like \'%DC801%\'\n\t\t   and b.result = \'reject\' then 18 -- 贷前模型拒贷\n\t\t when b.code like \'%DC701%\'\n\t\t   and b.result = \'reject\' then 19 -- 同心黑灰名单拒贷\n\t\t when b.code like \'%DC702%\'\n\t\t   and b.result = \'reject\' then 20 -- hadz黑名单拒贷\n\t\t when b.code like \'%DC703%\'\n\t\t   and b.result = \'reject\' then 21 -- AdvanceAI黑名单拒贷\n\telse 99 end as credit_result_v2\nfrom\n\t(select\n\t\t*\n\tfrom\n\t\t(select\n\t\t\t*,\n\t\t\tdate(create_time + interval \'7\' hour) as credit_dt,\n\t\t\trow_number() over(partition by user_id, date(create_time + interval \'7\' hour) order by create_time desc) as rk1,\n\t\t\trow_number() over(partition by user_id order by create_time desc) as rk2\n\t\tfrom "arkham_etl_s3".t_order_info ) t1\n\twhere rk1 = 1 ) a\ninner join "credinex_repeater_etl_s3".t_rule_result b\non a.id = b.reference_id\n)\n\n-- yscc_credit_summary_report\nselect\n\tcredit_dt -- 申请日期\n\t,count(distinct user_id) as credit_cnt -- 申请人数\n\t,count(distinct case when credit_status = \'CLOSED\' then user_id end) as close_cnt -- 关闭订单人数\n\t,count(distinct case when credit_status = \'MANUAL\' then user_id end) as manual_cnt -- 人工审核中人数\n\t,count(distinct case when credit_status = \'UNDER_REVIEW\' then user_id end) as review_cnt -- 机器审核中人数\n\t,count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 1 then user_id end) as fm_rj_cnt -- 阀门拒贷人数\n\t,count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 2 then user_id end) as yz_rj_cnt -- 验证拒贷人数\n\t,count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 3 then user_id end) as rs_rj_cnt -- 人审拒贷人数\n\t,count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 4 then user_id end) as dh_rj_cnt -- 电核拒贷人数\n\t,count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 5 then user_id end) as fk_rj_cnt -- 风控机审拒贷人数\n\t,count(distinct case when credit_status = \'REJECTED\' then user_id end) as refuse_cnt -- 总拒贷人数\n\t,count(distinct case when credit_status = \'APPROVED\' then user_id end) as pass_cnt -- 通过人数\n\t,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'CLOSED\' then user_id end)/count(distinct user_id) end as close_rate -- 关闭订单占比\n\t,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'MANUAL\' then user_id end)/count(distinct user_id) end as manual_rate -- 人工审核中占比\n\t,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'UNDER_REVIEW\' then user_id end)/count(distinct user_id) end as review_rate -- 机器审核中占比\n    ,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 1 then user_id end)/count(distinct user_id) end as fm_rj_rate -- 阀门拒贷率\n\t,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 2 then user_id end)/count(distinct user_id) end as yz_rj_rate -- 验证拒贷率\n\t,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 3 then user_id end)/count(distinct user_id) end as rs_rj_rate -- 人审拒贷率\n\t,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 4 then user_id end)/count(distinct user_id) end as dh_rj_rate -- 电核拒贷率\n\t,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'REJECTED\' and credit_result_v1 = 5 then user_id end)/count(distinct user_id) end as fk_rj_rate -- 风控机审拒贷率\n\t,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'REJECTED\' then user_id end)/count(distinct user_id) end as refuse_rate -- 总拒贷率\n\t,case when count(distinct user_id) = 0 then 0 else count(distinct case when credit_status = \'APPROVED\' then user_id end)/count(distinct user_id) end as pass_rate -- 通过率\nfrom\n\t(select\n\t\tuser_id,\n\t\tcredit_dt,\n\t\tmax(status) as credit_status,\n\t\tmin(credit_result_v1) as credit_result_v1\n\tfrom temp_credit_data\n\tgroup by user_id,credit_dt) a\ngroup by credit_dt'}
{'MD5OfMessageBody': '03464f93222158dc60658b926c32a5c9', 'MessageId': '3d17b98b-316e-49da-aa67-c670d54bed2d', 'ResponseMetadata': {'RequestId': '1095acf8-df75-5199-9553-f412d6b6d8ea', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amzn-requestid': '1095acf8-df75-5199-9553-f412d6b6d8ea', 'date': 'Fri, 09 Apr 2021 07:51:31 GMT', 'content-type': 'text/xml', 'content-length': '378'}, 'RetryAttempts': 0}}

In [ ]:
import boto3
import ast
import time
from datetime import datetime
sqs=boto3.client('sqs',region_name='ap-southeast-1')
s3=boto3.client('s3',region_name='ap-southeast-1')
athena=boto3.client('athena',region_name='ap-southeast-1')
dynamodb=boto3.client('dynamodb',region_name='ap-southeast-1')
QueueUrl='https://sqs.ap-southeast-1.amazonaws.com/855696220043/floatingShelf_exec_sql'
resultBucket="rupiahplus-data-warehouse"
resultpath="/etl/floatingshelf/"

# 更新dynamodb的状态
def updateSqlState(execResult):
    tableId = execResult['tableId']
    sqlexecid=execResult['sqlexecid']
    sqlexecdate = execResult['sqlexecdate']
    resultbucket = execResult['resultbucket']
    resultpath = execResult['resultpath']
    response = dynamodb.update_item(
        TableName='AnalysisReportSql-v6q6okep3bebnkt4bszyldyyie-hanpeng',
        Key={"id":{"S":tableId}},
        UpdateExpression="SET  sqlexecid=:sqlexecid,sqlexecdate =:sqlexecdate ,resultbucket=:resultbucket,resultpath=:resultpath",
        ExpressionAttributeValues={
            ':sqlexecid': {'S': sqlexecid},
            ':sqlexecdate': {'S': sqlexecdate},
            ':resultbucket': {'S': resultbucket},
            ':resultpath': {'S': resultpath},
        },
    )
    print(response)
def getsqlDetail(bucket,path):
    response = s3.get_object(
        Bucket=bucket,
        Key=path,
    )
    return response["Body"].read().decode('utf-8') if response["Body"] is not None else ''
def execAthenaSql(sql,tableNm):
    s3_output="s3://rupiahplus-data-warehouse/etl/floatingshelf/"+tableNm
    response = athena.start_query_execution(
        QueryString=sql,
        QueryExecutionContext={
            'Database': "han_test"
            },
        ResultConfiguration={
            'OutputLocation': s3_output,
            }
        )
    # 执行完成之后，更新记录
    sqlstate={}
    sqlstate['tableId']=tableNm
    sqlstate['sqlexecid'] = response["QueryExecutionId"]
    sqlstate['sqlexecdate'] =datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    sqlstate['resultbucket'] = resultBucket
    sqlstate['resultpath'] = resultpath+tableNm+"/"+response["QueryExecutionId"]+".csv"
    updateSqlState(sqlstate)
    return {"tableNm":tableNm,"execId":response["QueryExecutionId"]}
def execSql(messagedetail):
    print(messagedetail)
    delFlag=1
    if messagedetail.get("Body") is None:
        return
    body = ast.literal_eval(messagedetail["Body"])
    if body["sqlbucket"] is None \
            or body["sqlpath"] is None \
            or body["tableNm"] is None:
        deleteMessage(messagedetail['ReceiptHandle'])
        return
    # sqlstr=getsqlDetail(body["sqlbucket"],body["sqlpath"])
    if body.get("sqlDetail")is None or body.get("sqlDetail") is None or body.get("sqlDetail") =='':
        deleteMessage(messagedetail['ReceiptHandle'])
        return
    sqlstr = body["sqlDetail"]
    try:
         execAthenaSql(sqlstr,body["tableNm"])
         # 执行完成之后把结果返回DynamoDb
    except Exception as e:
        import traceback
        print("出错了------------------",e)
        print(traceback.format_exc())
        delFlag=0
    # 拿到消息之后删掉消息
    if delFlag==1:
        deleteMessage(messagedetail['ReceiptHandle'])
def deleteMessage(receiptHandle):
    print("执行删除------")
    response=sqs.delete_message(
        QueueUrl=QueueUrl,
        ReceiptHandle=receiptHandle
    )
    print("删除结果------",response)
noneNum=0
while True:
    time.sleep(60)
    response = sqs.receive_message(
        QueueUrl=QueueUrl,
        AttributeNames=[
            'All'
        ],
        MaxNumberOfMessages=10,
        WaitTimeSeconds=20,
    )
    print("数据是---------",response)
    if response.get("Messages") is not None :
        noneNum=0
        print(list(map(execSql,response["Messages"])))
    else:
        noneNum=noneNum+1
    print(noneNum)
    if noneNum>5:
        break

VBox()