In [27]:
import sys
from concurrent import futures
import numpy as np
from pyspark.sql import SparkSession
from datetime import datetime,timedelta
import pytz

# print(datetime.now(pytz.timezone("Asia/Shanghai")).strftime( '%Y-%m-%d'))
today=(datetime.now()+ timedelta(-1)).strftime( '%Y-%m-%d')
yesterday=(datetime.now(pytz.timezone("Asia/Shanghai"))+ timedelta(-1)).strftime( '%Y-%m-%d')
tablemap={"banda_stream_etl":"banda_real"} #,
# ,"banda_stream_etl":"1"
tablesql_1=" FROM  (   SELECT    *  , row_number() OVER (PARTITION BY id  ORDER BY date_format(etldate,'yyyy-MM-dd HH:mm:ss.SSS') DESC  , if(etlindex is null ,0,etlindex)  desc)  row_num FROM  "
tablesql_2="  ORDER BY id  ASC )  a  WHERE a.row_num = 1 AND a.kind <> 'delete' "
def getTableColum(b):
    colum=""
    for index in range(len(b)):
        if(index>0 and index<len(b)-8):   
            colum=colum+setDef(b[index]["data_type"],b[index]["col_name"])+", "
#             ,month,day
    return colum+"year "
def setDef(type,table_col):
    if(type[:7] == 'decimal'):
        return "ifnull("+table_col+",0) as "+table_col
    else:
        return table_col
def make_col_temptable(databaseName,row):
    tableName=row["tableName"]
    if tableName=='t_admin_audit':
        tablecolum="desc " +databaseName+"."+tableName;
        tableSchema= spark.sql(tablecolum).collect()
        tablepath="s3://rupiahplus-data-warehouse/stream/demo/t_admin_audit"
        spark.catalog.refreshTable(databaseName+"."+tableName)
        sql="select "+ getTableColum(tableSchema)+ tablesql_1+databaseName+"."+tableName+tablesql_2
    #     print(sql)
#     ,"month","day"
        spark.sql(sql).drop("etlindex").write.mode("overwrite").partitionBy("year").orc(tablepath)
if __name__ == "builtins":
    spark = SparkSession\
        .builder\
        .appName("Python Demo")\
        .config("hive.metastore.client.factory.class", "com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory") \
        .enableHiveSupport()\
        .getOrCreate()
#     spark.conf.set("spark.scheduler.mode","FAIR")
    spark.conf.set("spark.sql.shuffle.partitions",20)
    for databaseName in tablemap:
        print(databaseName)
        databasesql="show tables in "+databaseName
        tables=spark.sql(databasesql)
        tablelist=tables.collect();
        executor=None
        with futures.ThreadPoolExecutor(max_workers=10) as executor:
            futures_result=futures.wait([executor.submit(make_col_temptable,databaseName, tableNm) for tableNm in tablelist])
            for  future in futures_result[0]:
                print(future.result())

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

banda_stream_etl
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [3]:
spark.sql("""
 select  * from `banda-etl-s3`.t_admin_audit limit 100
""").show()
# .write.mode("overwrite").partitionBy("year","month","day").orc("s3://rupiahplus-data-warehouse/stream/demo/t_admin_audit")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+--------+--------+-----------+--------------------+-------+-----------+--------------------+-------------+--------------------+--------------------+--------------+
|             etldate|      id|admin_id|access_mode|               topic|subject|loan_app_id|             param_l|      param_h|             comment|         create_time|            ip|
+--------------------+--------+--------+-----------+--------------------+-------+-----------+--------------------+-------------+--------------------+--------------------+--------------+
|2020-09-11 05:59:...|46271774|  101898|    PRIVATE|              REPORT|  QUERY|       null|collection-weekly...|          171|startTime:2020-09...|2020-09-11 05:59:...|          null|
|2020-09-11 06:17:...|46271922|  101897|    PRIVATE|              REPORT|  QUERY|       null|my-collection-mob...|         null|param:{adminId=10...|2020-09-11 06:17:...|          null|
|2020-09-11 06:03:...|46271803|  100435|    PRIVATE|     REVIEW_COMMENTS| INSERT|    8853211|                null|         null|Name filled not m...|2020-09-11 06:03:...|          null|
|2020-09-11 05:55:...|46271748|  100435|    PRIVATE|   REVIEW_SUPPLEMENT| INSERT|    8852880|        FIRST_REVIEW|         null|{"comments":"","c...|2020-09-11 05:55:...|222.165.231.78|
|2020-09-11 06:39:...|46272088|  101736|    PRIVATE|              REPORT|  QUERY|       null|collection-amount...|          889|startTime:2020-09...|2020-09-11 06:39:...|          null|
|2020-09-11 06:15:...|46271897|  100097|    PRIVATE|ASSIGN_LOAN_TO_RE...| UPDATE|    8853780|              100435| FIRST_REVIEW|assignLoanAppToAdmin|2020-09-11 06:15:...|222.165.231.78|
|2020-09-11 05:57:...|46271756|  100435|    PRIVATE|      REVIEW_APPROVE| INSERT|    8852999|        FIRST_REVIEW|SECOND_REVIEW|all data match_ap...|2020-09-11 05:57:...|222.165.231.78|
|2020-09-11 06:56:...|46272211|  100539|    PRIVATE|               LOGIN|  QUERY|       null|                null|         null|                null|2020-09-11 06:56:...|  36.90.86.122|
|2020-09-11 06:45:...|46272133|  100097|    PRIVATE|              REPORT|  QUERY|       null|      review-history|           66|startTime:2020-09...|2020-09-11 06:45:...|          null|
|2020-09-10 01:05:...|46264183|     100|    PRIVATE|ASSIGN_LOAN_TO_RE...| UPDATE|    8846218|              100097| FINAL_REVIEW|assignLoanAppToAdmin|2020-09-10 01:05:...|          null|
|2020-09-10 01:20:...|46264322|  100490|    PRIVATE|              REPORT|  QUERY|       null|        work-details|        39800|startTime:2020-09...|2020-09-10 01:20:...|          null|
|2020-09-10 01:58:...|46264553|  101898|    PRIVATE|              REPORT|  QUERY|       null|my-collection-con...|           62|startTime:2020-09...|2020-09-10 01:58:...|          null|
|2020-09-10 04:39:...|46265771|  101866|    PRIVATE|              REPORT|  QUERY|       null|collection-weekly...|          140|startTime:2020-09...|2020-09-10 04:39:...|          null|
|2020-09-10 05:05:...|46266032|  100097|    PRIVATE|     REVIEW_COMMENTS| INSERT|    8846767|                null|         null|      bank info _ ok|2020-09-10 05:05:...|          null|
|2020-09-10 05:19:...|46266177|  100435|    PRIVATE|   REVIEW_SUPPLEMENT| INSERT|    8846524|        FIRST_REVIEW|         null|{"comments":"","c...|2020-09-10 05:19:...|222.165.231.78|
|2020-09-10 06:04:...|46266373|  100094|    PRIVATE|  UPDATE_LOAN_STATUS| UPDATE|    8844245|              CLOSED|         null|AUTHORIZATION to ...|2020-09-10 06:04:...|222.165.231.78|
|2020-09-10 07:09:...|46266863|  101907|    PRIVATE|              REPORT|  QUERY|       null|collection-weekly...|          248|startTime:2020-09...|2020-09-10 07:09:...|          null|
|2020-09-10 07:30:...|46267020|     100|    PRIVATE|ASSIGN_LOAN_TO_RE...| UPDATE|    8848841|              101860| FIRST_REVIEW|assignLoanAppToAdmin|2020-09-10 07:30:...|          null|
|2020-09-10 07:52:...|46267165|  101918|    PRIVATE|              REPORT|  QUERY|       null|my-collection-con...|         null|param:{adminId=10...|2020-09-10 07:52:...|          null|
|2020-09-10 08:38:...|46267381|  101781|    PRIVATE|              REPORT|  QUERY|       null|collection-weekly...|          391|startTime:2020-09...|2020-09-10 08:38:...|          null|
+--------------------+--------+--------+-----------+--------------------+-------+-----------+--------------------+-------------+--------------------+--------------------+--------------+
only showing top 20 rows

In [21]:
spark.conf.set("hive.exec.dynamic.partition", "true")
spark.conf.set("hive.exec.dynamic.partition.mode","nonstrict");
spark.conf.set("spark.sql.sources.partitionOverwriteMode", "dynamic")
spark.sql(""" 
insert overwrite table `partitions_etl`.`t_admin_audit` 
    select   etldate,id,admin_id,access_mode,topic,subject,loan_app_id,param_l,param_h,comment,create_time,ip,'2020' as year 
     FROM  (   SELECT    *  , row_number() OVER (PARTITION BY id  ORDER BY date_format(etldate,'yyyy-MM-dd HH:mm:ss.SSS') DESC  , if(etlindex is null ,0,etlindex)  desc)  row_num FROM  `banda_stream_etl`.`t_admin_audit` ORDER BY id  ASC )  a  WHERE a.row_num = 1 AND a.kind <> 'delete'
""")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]

In [8]:
spark.sql("""
 select   kind,etldate,etlindex,id,admin_id,access_mode,topic,subject,loan_app_id,param_l,param_h,comment,create_time,ip,'2020' as year,'09' as month,'11' as day
  from  `banda_stream_etl`.`t_admin_audit`
""").printSchema()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- kind: string (nullable = true)
 |-- etldate: string (nullable = true)
 |-- etlindex: integer (nullable = true)
 |-- id: long (nullable = true)
 |-- admin_id: long (nullable = true)
 |-- access_mode: string (nullable = true)
 |-- topic: string (nullable = true)
 |-- subject: string (nullable = true)
 |-- loan_app_id: long (nullable = true)
 |-- param_l: string (nullable = true)
 |-- param_h: string (nullable = true)
 |-- comment: string (nullable = true)
 |-- create_time: timestamp (nullable = true)
 |-- ip: string (nullable = true)
 |-- year: string (nullable = false)
 |-- month: string (nullable = false)
 |-- day: string (nullable = false)

In [ ]:
import sys
from concurrent import futures
import numpy as np
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from datetime import datetime,timedelta
import pytz
import copy
dbmap={
    "banda":{
        "increment_database":"banda_stream_etl",
        "database":"partitions_etl",
        "realTime_path":"banda"
        
    },
#     "luzon":{
#          "increment_database":"luzon_stream_etl",
#          "database":"luzon_etl_s3",
#          "realTime_path":"luzon"
#     },
#     "telemarket":{
#          "increment_database":"telemarket_stream_etl",
#          "database":"telemarket_etl_s3",
#          "realTime_path":"telemarket"
#     }
}
# increment_database="banda_stream_etl"
# # tableNm="t_loan_app"
# database="banda-etl-s3"
nowdate=(datetime.now()).strftime('%Y-%m-%d')
yesterday=(datetime.now()+ timedelta(-1)).strftime('%Y-%m-%d')
sqltemp="""with {update_snapshot_table} as (
  select *
    from (
      SELECT * ,
         row_number() OVER (PARTITION BY id ORDER BY date_format(etldate,'yyyy-MM-dd HH:mm:ss.SSS') DESC, if(etlindex is NULL, 0, etlindex) desc) row_num
      FROM `{increment_database}`.`{tableNm}`
      where date(year || '-' || month || '-' || day) <=date('{nowdate}') and date(year || '-' || month || '-' || day) >= date('{yesterday}')
      )
    where row_num = 1
  )
select  {select_sql} 
from `{database}`.`{tableNm}` l
left join {update_snapshot_table}
on l.id = {update_snapshot_table}.id
where if({update_snapshot_table}.kind is not null,{update_snapshot_table}.kind,'') <> 'delete'
union
select {update_snapshot_sql} from (
  select *
  from `{increment_database}`.`{tableNm}`
  where
    date(year || '-' || month || '-' || day) <=date('{nowdate}') and date(year || '-' || month || '-' || day) >= date('{yesterday}')
    and kind = 'insert'
  ) new
left join {update_snapshot_table}
on new.id = {update_snapshot_table}.id where if({update_snapshot_table}.kind is not null,{update_snapshot_table}.kind,'') <> 'delete'"""
def getTableColum(b,update_snapshot_table):
    colum=""
    snapshot_colum=""
    sqlstrtemp="if({update_snapshot_table}.id is null, {colNm}     , {snapshot_colNm})  {ascolNm} ,"
    for index in range(len(b)):
        if(index==1 or (index>2 and index<len(b)-7)):   
            sqlstr=copy.copy(sqlstrtemp)
            colum=colum+sqlstr.format(colNm=setDef(b[index]["data_type"],b[index]["col_name"],False),snapshot_colNm=setDef(b[index]["data_type"],b[index]["col_name"],True),ascolNm=b[index]["col_name"],update_snapshot_table=update_snapshot_table)
            snapshot_colum=snapshot_colum+setSnapshotDef(b[index]["data_type"],b[index]["col_name"]).format(update_snapshot_table=update_snapshot_table)+" ,"
    return colum[0:len(colum)-2],snapshot_colum[0:len(snapshot_colum)-2]
def setDef(type,table_col,is_snapshot):
    if(type[:7] == 'decimal'):
        if is_snapshot:
            return "ifnull({update_snapshot_table}."+table_col+",0)  "
        else:
            return "ifnull(l."+table_col+",0) "
    else:
        if is_snapshot:
            return "{update_snapshot_table}."+table_col
        else:
            return "l."+table_col
def setSnapshotDef(type,table_col):
    if(type[:7] == 'decimal'):
        return "ifnull({update_snapshot_table}."+table_col+",0) "+table_col
    else:
        return "{update_snapshot_table}."+table_col
def execute(tablerow,dbtype):
#     print(tablerow,dbtype)
    tableNm=tablerow["tableName"]
    if tableNm=='t_admin_audit':
        update_snapshot_table="update_snapshot_"+dbtype+"_"+tableNm
        spark.catalog.refreshTable("`"+dbmap[dbtype]["database"]+"`."+tableNm)
        col=spark.sql("desc `"+dbmap[dbtype]["increment_database"]+"`."+tableNm).collect()
        #     #真正的列,增量的列
        real_col,snapshot_col=getTableColum(col,update_snapshot_table)
        sql=copy.copy(sqltemp)
        real_sql=sql.format(increment_database=dbmap[dbtype]["increment_database"],tableNm=tableNm,nowdate=nowdate,select_sql=real_col.format(update_snapshot_table=update_snapshot_table),update_snapshot_sql=snapshot_col.format(update_snapshot_table=update_snapshot_table),database=dbmap[dbtype]["database"],yesterday=yesterday,update_snapshot_table=update_snapshot_table)
        #         tablepath="s3://rupiahplus-data-warehouse/aliyun/"+dbmap[dbtype]["realTime_path"]+"/"+tableNm
#         print(real_sql)
    #         spark.sql(real_sql).drop("etlindex").write.mode("overwrite").orc(tablepath)
    #         spark.sql(real_sql).where("id==1731052").show()
        spark.sql(real_sql).drop("etlindex").write.mode("overwrite").partitionBy("year").format("orc").saveAsTable("etl_s3_temp."+dbtype+"_"+tableNm+"demo");
# # #         spark.sql
        spark.sql(" insert overwrite table `partitions_etl`.`t_admin_audit`  select  * from  "+"etl_s3_temp."+dbtype+"_"+tableNm+"demo")
#     .write.mode("overwrite").orc(tablepath)
if __name__ == "builtins":
    spark = SparkSession\
        .builder\
        .appName("Python Demo")\
        .config("hive.metastore.client.factory.class", "com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory") \
        .config("spark.driver.maxResultSize", "4g") \
        .enableHiveSupport()\
        .getOrCreate()
    spark.conf.set("hive.exec.dynamic.partition.mode","nonstrict");
    spark.conf.set("spark.sql.sources.partitionOverwriteMode", "dynamic")
    spark.conf.set("spark.files.overwrite","true")
#     ,Apache Arrow：一个跨平台的在内存中以列式存储的数据层，用来加速大数据分析速度。其可以一次性传入更大块的数据，pyspark中已经有载入该模块，需要打开该设置：
    spark.conf.set("spark.sql.execution.arrow.enabled", "true")
#     创建表时自动删除已存在的目录
    spark.conf.set("spark.sql.legacy.allowCreatingManagedTableUsingNonemptyLocation","true")
    for dbtype in dbmap:
        databasesql="show tables in "+dbmap[dbtype]["increment_database"]
        tables=spark.sql(databasesql)
        tablelist=tables.collect();
    #         for row in tablelist:
        executor=None
        with futures.ThreadPoolExecutor(max_workers=10) as executor:
            futures_result=futures.wait([executor.submit(execute, table,dbtype) for table in tablelist])
            for  future in futures_result[0]:
                print(future.result())

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [4]:
spark.sql("""
SELECT * FROM `luzon_etl_s3`.`t_admin_audit`  limit 10
""").show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+-------+--------+-----------+--------------------+-------+-----------+-------------+------------+--------------------+--------------------+---------------+
|             etldate|     id|admin_id|access_mode|               topic|subject|loan_app_id|      param_l|     param_h|             comment|         create_time|             ip|
+--------------------+-------+--------+-----------+--------------------+-------+-----------+-------------+------------+--------------------+--------------------+---------------+
|2020-08-19 09:18:...|1190764|  100031|    PRIVATE|              REPORT|  QUERY|       null|   loan-issue|        null|param:{paidOffSta...|2020-08-19 09:18:...|           null|
|2020-08-16 11:34:...|1190757|  100001|    PRIVATE|               LOGIN|  QUERY|       null|         null|        null|                null|2020-08-16 11:34:...|112.211.138.255|
| 2019-12-30 23:59:59| 646513|  100063|    PRIVATE|     REVIEW_COMMENTS| INSERT|     210474|         null|        null|send a payment re...|2019-10-21 08:17:...|           null|
| 2019-12-30 23:59:59| 646523|  100057|    PRIVATE|     REVIEW_COMMENTS| INSERT|     203203|         null|        null|SEND A SMS THAT T...|2019-10-21 08:18:...|           null|
| 2019-12-30 23:59:59| 646559|  100061|    PRIVATE|     REVIEW_COMMENTS| INSERT|     197956|         null|        null|639481062790 KOR ...|2019-10-21 08:26:...|           null|
| 2019-12-30 23:59:59| 646577|  100059|    PRIVATE|     REVIEW_COMMENTS| INSERT|     209850|         null|        null|send a payment re...|2019-10-21 08:28:...|           null|
| 2019-12-30 23:59:59| 646599|  100027|    PRIVATE|       REVIEW_REJECT| INSERT|     219199| FIRST_REVIEW|    REJECTED|ALL CONTACTS ARE ...|2019-10-21 08:31:...| 180.191.155.55|
| 2019-12-30 23:59:59| 646612|  100027|    PRIVATE|ASSIGN_LOAN_TO_RE...| UPDATE|     219201|       100027|FIRST_REVIEW|assignLoanAppToAdmin|2019-10-21 08:36:...| 180.191.155.55|
| 2019-12-30 23:59:59| 646624|  100035|    PRIVATE|      REVIEW_APPROVE| INSERT|     219211|SECOND_REVIEW|FINAL_REVIEW|                null|2019-10-21 08:38:...| 180.191.155.55|
| 2019-12-30 23:59:59| 646691|  100063|    PRIVATE|REVIEW_COLLECTION...| INSERT|     207712|         null|        null|{"collectionMetho...|2019-10-21 08:53:...|           null|
+--------------------+-------+--------+-----------+--------------------+-------+-----------+-------------+------------+--------------------+--------------------+---------------+

In [1]:
spark.sql("""
SELECT * FROM `banda-etl-s3`.`t_auto_review_loan`  limit 10
""").show()

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+--------+--------------------+-----------+-------+--------------------+----------------+------------+-------+-------------+------+--------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+----+
|             etldate|      id|       riskengine_id|customer_id|loan_id|                name|             ktp|      mobile|success|error_message|result|reject_message|         create_time|         finish_time|duration|         real_policy|switch_manual_reason|            raw_data|year|
+--------------------+--------+--------------------+-----------+-------+--------------------+----------------+------------+-------+-------------+------+--------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+----+
|2020-10-14 00:20:...|12217021|62f3678d-6194-5e9...|    4425405|9055515|   DJUMIATI SUNARSIH|3275096505690014|085828740572|   true|         null|  PASS|          null|2020-10-14 00:20:...|2020-10-14 00:20:...|    4409|     allow_to_access|                null|TaskDetail(taskId...|2020|
|2020-10-14 00:23:...|12217077|1d65b0a0-2a35-53b...|    1129626|9055535|         Fiqi Ashadi|3173060507820022|081291165869|   true|         null|  PASS|          null|2020-10-14 00:23:...|2020-10-14 00:23:...|     729|repayday_amount_s...|                null|{"minAmount":"400...|2020|
|2020-10-14 00:38:...|12217215|6f48ccda-b6e2-55b...|    4459257|9055599|          Edysuncoko|3522241011700010|085257510778|   true|         null|  PASS|          null|2020-10-14 00:38:...|2020-10-14 00:38:...|    3855|     allow_to_access|                null|TaskDetail(taskId...|2020|
|2020-10-14 01:31:...|12217975|e6f96b12-74f5-514...|    4460757|9055944|       Agung santoso|3517081209970006|087807912565|   true|         null|  PASS|          null|2020-10-14 01:31:...|2020-10-14 01:31:...|   11351|      manual_if_fail|                null|TaskDetail(taskId...|2020|
|2020-10-14 01:45:...|12218218|cececbfe-2a4a-587...|    2736836|9056046|             nurhadi|3601250806840001|082123936713|   true|         null|  PASS|          null|2020-10-14 01:45:...|2020-10-14 01:45:...|   11621|      manual_if_fail|                null|TaskDetail(taskId...|2020|
|2020-10-14 02:57:...|12219822|276b8f69-7d42-561...|    1853945|9050319|        Ahmad faizal|3174081809740002|081318981270|  false|         null|  null|          null|2020-10-14 02:57:...|2020-10-14 02:57:...|       0|     allow_to_access|                null|                null|2020|
|2020-10-14 03:00:...|12220050|b9651bef-04a6-537...|    4408238|9050185|         BENI TOPANI|3217100506920020|081357863400|   true|         null|  PASS|          null|2020-10-14 03:00:...|2020-10-14 03:00:...|   36167|     allow_to_access|                null|TaskDetail(taskId...|2020|
|2020-10-14 03:10:...|12220445|309dff82-6f23-5f9...|    4402236|9056768|Timbul Fransiskus...|1272060110970001|082362557123|   true|         null|MANUAL|          null|2020-10-14 03:10:...|2020-10-14 03:10:...|    7161|      manual_if_fail|                null|TaskDetail(taskId...|2020|
|2020-10-14 03:17:...|12220618|52ce32ae-aca6-569...|    4460077|9054417|           SUPRIYONO|3318212108810001|082133535907|   true|         null|  PASS|          null|2020-10-14 03:17:...|2020-10-14 03:17:...|     835|   autoreview_payday|                null|TaskDetail(taskId...|2020|
|2020-10-14 03:21:...|12220721|709476b0-2bdc-552...|    4461062|9056878|Dhyan dwi pramita...|3319077010870001|081391157272|   true|         null|  PASS|          null|2020-10-14 03:21:...|2020-10-14 03:21:...|   13001|multiplatform_and...|                null|TaskDetail(taskId...|2020|
+--------------------+--------+--------------------+-----------+-------+--------------------+----------------+------------+-------+-------------+------+--------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+----+

In [1]:
# -*- coding: UTF-8 -*-
import sys
from concurrent import futures
import numpy as np
from pyspark.sql import SparkSession
from datetime import datetime,timedelta
import pytz
# tablemap={"banda_emr_etl":"banda"} #,
tablemap={"banda_emr_etl":"banda"}
# tableList={"banda":["t_admin","t_admin_audit"]} 
tableList={"banda":["*"]}
first=" select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, "
end=" , '2020' as year,   '08' as month,  '01' as day from  "
def getTableColum(tableNm,b):
    colum=""
    for index in range(len(b)):
        colum=colum+setDef(b[index]["data_type"],b[index]["col_name"],tableNm)+", "
    return colum[0:len(colum)-2]
def setDef(type,table_col,tableNm):
    if(tableNm=='t_auto_review_loan' and type[:7] == 'boolean'):
        return "cast ("+table_col+" as string ) as "+table_col
    else:
        return table_col
def make_col_temptable(databaseName,row):
    tableName=row["tableName"]
    tablecolum="desc " +databaseName+"."+tableName;
    tableSchema= spark.sql(tablecolum).collect()
    sql=first+ getTableColum(tableName,tableSchema)+end+databaseName+"."+tableName
    print(sql)
#     path="s3://rupiahplus-data-warehouse/stream/"+tablemap[databaseName]+"_etl/"+tableName+"/"
#     spark.sql(sql).write.mode("append").partitionBy("year","month","day").orc(path)
if __name__ == "builtins":
    spark = SparkSession\
        .builder\
        .appName("Python Demo")\
        .config("hive.metastore.client.factory.class", "com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory") \
        .enableHiveSupport()\
        .getOrCreate()
#     spark.conf.set("spark.scheduler.mode","FAIR")
    spark.conf.set("spark.sql.shuffle.partitions",20)
    for databaseName in tablemap:
        databasesql="show tables in banda_stream_etl"
        tables=spark.sql(databasesql)
        tablelist=tables.collect();
        ls=[]
        if tablemap[databaseName] in tableList :
            for table in tableList[tablemap[databaseName]]:
                if table=='*':
                    ls =tablelist
                else:
                    ls=ls+[tb for tb in tablelist if tb["tableName"]==table]
            print(ls)
            executor=None
            with futures.ThreadPoolExecutor(max_workers=10) as executor:
                futures_result=futures.wait([executor.submit(make_col_temptable,databaseName, tableNm) for tableNm in ls])
                for  future in futures_result[0]:
                    print(future.result())

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[Row(database='banda_stream_etl', tableName='t_admin', isTemporary=False), Row(database='banda_stream_etl', tableName='t_admin_audit', isTemporary=False), Row(database='banda_stream_etl', tableName='t_admin_group_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_af_bill', isTemporary=False), Row(database='banda_stream_etl', tableName='t_ai_rudder_schedule_mobile', isTemporary=False), Row(database='banda_stream_etl', tableName='t_auto_review_loan', isTemporary=False), Row(database='banda_stream_etl', tableName='t_bankcard', isTemporary=False), Row(database='banda_stream_etl', tableName='t_bankcard_merchant', isTemporary=False), Row(database='banda_stream_etl', tableName='t_bankcard_verify', isTemporary=False), Row(database='banda_stream_etl', tableName='t_case_distribution_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_channel_details', isTemporary=False), Row(database='banda_stream_etl', tableName='t_clear_detail_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_code', isTemporary=False), Row(database='banda_stream_etl', tableName='t_collection_audit', isTemporary=False), Row(database='banda_stream_etl', tableName='t_collection_blacklist', isTemporary=False), Row(database='banda_stream_etl', tableName='t_contact', isTemporary=False), Row(database='banda_stream_etl', tableName='t_coupon_request', isTemporary=False), Row(database='banda_stream_etl', tableName='t_coupon_send', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer_app', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer_device_info', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer_install_info', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer_tag_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_employment', isTemporary=False), Row(database='banda_stream_etl', tableName='t_engine_rule_detail', isTemporary=False), Row(database='banda_stream_etl', tableName='t_file', isTemporary=False), Row(database='banda_stream_etl', tableName='t_group', isTemporary=False), Row(database='banda_stream_etl', tableName='t_hit_blacklist_record', isTemporary=False), Row(database='banda_stream_etl', tableName='t_invitation', isTemporary=False), Row(database='banda_stream_etl', tableName='t_job_metric', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_app', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_app_review_summary', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_app_status_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_issue', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_tag_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_login_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_lpay', isTemporary=False), Row(database='banda_stream_etl', tableName='t_lpay_deposit', isTemporary=False), Row(database='banda_stream_etl', tableName='t_message', isTemporary=False), Row(database='banda_stream_etl', tableName='t_mobile_tag_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_personal_info', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_bankcard', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_contact', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_employment', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_file', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_personal_info', isTemporary=False), Row(database='banda_stream_etl', tableName='t_review_blacklist', isTemporary=False), Row(database='banda_stream_etl', tableName='t_review_step_execution', isTemporary=False), Row(database='banda_stream_etl', tableName='t_send_coupon_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_sms', isTemporary=False), Row(database='banda_stream_etl', tableName='t_test_customer', isTemporary=False), Row(database='banda_stream_etl', tableName='t_thirdparty_data', isTemporary=False), Row(database='banda_stream_etl', tableName='t_tongdun_data', isTemporary=False), Row(database='banda_stream_etl', tableName='t_virtual_account', isTemporary=False)]
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, admin_id, access_mode, topic, subject, loan_app_id, param_l, param_h, comment, create_time, ip , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_admin_audit
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, mobile, password, full_name, type, status, failed_login_count, create_time, update_time, call_center_id_3cx, team_leader_id, password_salt, entry_time, token, auto_call_id_yixun, password_set_time, account_id , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_admin
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, event_name, media_source, agency, campaign, count, total_cost, start_date, end_date, price, create_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_af_bill
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, channel_key, af_channel, media_source, event_name, body, ip_address, create_time, fb_campaign_name, campaign, agency, fb_campaign_id, ga_id , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_channel_details
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, loan_app_id, card_no, bank_code, province, city, branch, verify_account_holder_name, verify_status, create_time, update_time, holder_name, validation_id , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_bankcard
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, merchant_id, card_no, bank_code, swift_code, holder_name, verify_channel, verify_status, verify_account_holder_name, validation_id, fail_reason, remark, create_time, update_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_bankcard_verify
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, merchant_code, status, limit_num, white_list_ip, secret_key, callback_url, remark, create_time, update_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_bankcard_merchant
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, admin_id, ref_id, reviewer_id, trigger, topic, subject, comment, group_id, create_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_case_distribution_log
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, riskengine_id, customer_id, loan_id, name, ktp, mobile, cast (success as string ) as success, error_message, result, reject_message, create_time, finish_time, duration, real_policy, switch_manual_reason, raw_data , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_auto_review_loan
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, mobile, schedule_name, schedule_id, status, create_time, update_time, hangup_type, call_start, call_end, call_times, call_status, call_id, intention, ring_type , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_ai_rudder_schedule_mobile
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, admin_id, group_id, id , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_admin_group_rel
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, loan_id, lpay_id, deposit_id, lpay_status_before, lpay_status_after, principal, service_fee, interest, penalty, rollover, total, deposit_disburse, create_time, default_fee, rollover_principal_fee, loan_app_status, due_date, principal_accr, principal_paid, interest_accr, interest_paid, default_accr, default_paid, rollover_fee_accr, rollover_fee_paid, default_fee_accr, default_fee_paid, deposit_type , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_clear_detail_log
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, admin_id, collector_id, access_mode, topic, subject, loan_app_id, group_name, param, comment, create_time, ip , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_collection_audit
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, customer_device_info_id, channel_details_id, event_name, af_channel, media_source, download_time, install_time, create_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_customer_app
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, coupon_amount, structure, send_trigger, coupon_type, start_date, end_date, create_time, status , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_coupon_send
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, uid, mobile, email, password, invite_code, status, status_expired_time, last_login_time, failed_login_count, create_time, update_time, channel_key, imei, rated_interest_rate, inviter_id, rank, mobile_status, type, main_account , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_customer
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, loan_id, coupon_amount, code, status, type, start_date, end_date, create_time, update_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_coupon_request
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, loan_app_id, name, mobile, relation, credential_no, credential_type, address, company_name, job_title, create_time, update_time, comment, mobile_status, contact_status , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_contact
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, admin_id, customer_id, status, create_time, update_time, comment , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_collection_blacklist
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, type, value, create_time, comment , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_customer_device_info
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, trigger, send_to, send_type, send_channel, code, status, create_time, update_time, failed_count , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_code
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, channel_key, ga_id, imei, channel_details_id, event_name, af_channel, media_source, campaign, agency, fb_campaign_id, fb_campaign_name, download_time, install_time, create_time, android_id , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_customer_install_info
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, merchant_code, is_hit, status, hit_type, hit_content, fail_reason, id_address, param, create_time, update_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_hit_blacklist_record
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, name, type, status, description, parent_id, create_time, update_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_group
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, loan_app_id, file_type, file_kind, path, metadata, create_time, update_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_file
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, loan_id, code, value, result, rule_name, description, auto_review_loan_id, create_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_engine_rule_detail
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, loan_app_id, company_name, company_type, company_phone, company_size, company_province, company_city, company_district, company_area, company_address, company_establish_time, work_province, work_city, work_district, work_area, work_address, profession, title, salary, work_email, work_start_from, create_time, update_time, salary_day , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_employment
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, tag_id, status, create_time, update_id, update_time, comment , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_customer_tag_rel
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, status, sub_status, full_name, credential_no, credential_type, loan_type, amount, repayment_type, service_fee, pre_service_fee, interest_rate, period, period_unit, effective_time, apply_for, apply_channel, apply_platform, comment, reviewer_id, create_time, update_time, paid_off_mode, parent_id, apply_purpose, imei, ip, grace_period_rate, overdue_rate, haircut, haircut_issue_status, haircut_rate, product_name, current_lpay_id, android_id, initial_loan_id, version_code, default_fee_rate, default_factory, nper , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_loan_app
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, job_name, uuid, duration, start_time, end_time, status, message, instance , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_job_metric
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, inviter_id, invitee_id, type, version, status, reward, reward_type, disbursement_id, create_time, update_time, withdraw_history_id, risk_check, data_sources, data_level , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_invitation
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, mobile, imei, ip, create_time, update_time, version_code, channel_key , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_login_log
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, loan_id, tag_id, status, create_time, update_id, update_time, comment , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_loan_tag_rel
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, loan_id, type, create_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_loan_log
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, loan_app_id, customer_id, status, issue_amount, reached_amount, out_disbursement_no, disbursement_method, expire_time, reconcile_status, create_time, update_time, type, product_name , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_loan_issue
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, loan_app_id, operator_id, old_status, new_status, create_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_loan_app_status_log
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, loan_app_id, reviewing_loans_status, repaying_loans_status, rejected_loans_status, in_blacklist_status, info_completed_status, occupation_in_blacklist, first_review_admin_id, second_review_admin_id, final_review_admin_id, create_time, update_time, close_reason, reject_reason, analytic_result, profile, throttle_reason, test_flag, reject_code , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_loan_app_review_summary
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, loan_app_id, status, current_period, total_period, principal_accr, principal_paid, interest_accr, interest_paid, default_accr, default_paid, service_fee_accr, service_fee_paid, due_date, last_punishment_time, create_time, update_time, rollover_fee_accr, rollover_fee_paid, erase_amount, default_fee_accr, default_fee_paid, rollover_principal_paid, rollover_principal_accr, coupon_amount, rollover_principal_rate , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_lpay
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, lpay_id, customer_id, status, deposit_amount, arrived_amount, cleared_amount, deposit_channel, out_deposit_no, payment_code, deposit_method, reconcile_status, create_time, update_time, type, subtype, transaction_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_lpay_deposit
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, name, mobile, relation, create_time, update_time, status, contact_priority , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_record_contact
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, card_no, bank_code, create_time, update_time , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_record_bankcard
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, loan_app_id, full_name, gender, credential_no, credential_type, province, city, district, area, address, last_education, marital_status, children_number, residence_duration, family_name_in_law, facebook_id, car_number, house_number, ethnic, religion, nationality, ktp_gender, ktp_province, ktp_city, ktp_district, ktp_date_of_birth, ktp_analyze_status, status, create_time, update_time, email, backup_mobile , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_personal_info
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, loan_app_id, trigger, status, sms_status, app_push_status, app_inbox_status, message_body, create_time, update_time, voice_status , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_message
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, mobile, tag_id, status, create_time, update_id, update_time, comment , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_mobile_tag_rel
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, file_type, file_kind, path, metadata, create_time, update_time, status , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_record_file
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, customer_id, company_name, company_province, company_city, company_district, company_area, company_address, company_phone, profession, salary, work_email, create_time, update_time, salary_day, t_employment, status, company_province_code, company_city_code, company_district_code, company_area_code , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_record_employment
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, sender, send_trigger, sendto, code, content, status, response, create_time, update_time, send_id , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_sms
 select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, id, sub_type, tag_id, customer_id, coupon_type, structure, use_start_time, use_end_time, operator_id, create_time, result , '2020' as year,   '08' as month,  '01' as day from  banda_emr_etl.t_send_coupon_rel

In [6]:
df1=spark.sql("""show tables in banda_stream_etl""").collect()
print(df1)
for i in df1:
    print(i['tableName'])
    sql="desc banda_stream_etl."+i['tableName']
    df2=spark.sql(sql).collect()
    for j in df2:
        if j["data_type"]=='boolean':
            print(j)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[Row(database='banda_stream_etl', tableName='t_admin', isTemporary=False), Row(database='banda_stream_etl', tableName='t_admin_audit', isTemporary=False), Row(database='banda_stream_etl', tableName='t_admin_group_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_af_bill', isTemporary=False), Row(database='banda_stream_etl', tableName='t_ai_rudder_schedule_mobile', isTemporary=False), Row(database='banda_stream_etl', tableName='t_auto_review_loan', isTemporary=False), Row(database='banda_stream_etl', tableName='t_bankcard', isTemporary=False), Row(database='banda_stream_etl', tableName='t_bankcard_merchant', isTemporary=False), Row(database='banda_stream_etl', tableName='t_bankcard_verify', isTemporary=False), Row(database='banda_stream_etl', tableName='t_case_distribution_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_channel_details', isTemporary=False), Row(database='banda_stream_etl', tableName='t_clear_detail_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_code', isTemporary=False), Row(database='banda_stream_etl', tableName='t_collection_audit', isTemporary=False), Row(database='banda_stream_etl', tableName='t_collection_blacklist', isTemporary=False), Row(database='banda_stream_etl', tableName='t_contact', isTemporary=False), Row(database='banda_stream_etl', tableName='t_coupon_request', isTemporary=False), Row(database='banda_stream_etl', tableName='t_coupon_send', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer_app', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer_device_info', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer_install_info', isTemporary=False), Row(database='banda_stream_etl', tableName='t_customer_tag_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_employment', isTemporary=False), Row(database='banda_stream_etl', tableName='t_engine_rule_detail', isTemporary=False), Row(database='banda_stream_etl', tableName='t_file', isTemporary=False), Row(database='banda_stream_etl', tableName='t_group', isTemporary=False), Row(database='banda_stream_etl', tableName='t_hit_blacklist_record', isTemporary=False), Row(database='banda_stream_etl', tableName='t_invitation', isTemporary=False), Row(database='banda_stream_etl', tableName='t_job_metric', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_app', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_app_review_summary', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_app_status_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_issue', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_loan_tag_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_login_log', isTemporary=False), Row(database='banda_stream_etl', tableName='t_lpay', isTemporary=False), Row(database='banda_stream_etl', tableName='t_lpay_deposit', isTemporary=False), Row(database='banda_stream_etl', tableName='t_message', isTemporary=False), Row(database='banda_stream_etl', tableName='t_mobile_tag_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_personal_info', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_bankcard', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_contact', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_employment', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_file', isTemporary=False), Row(database='banda_stream_etl', tableName='t_record_personal_info', isTemporary=False), Row(database='banda_stream_etl', tableName='t_review_blacklist', isTemporary=False), Row(database='banda_stream_etl', tableName='t_review_step_execution', isTemporary=False), Row(database='banda_stream_etl', tableName='t_send_coupon_rel', isTemporary=False), Row(database='banda_stream_etl', tableName='t_sms', isTemporary=False), Row(database='banda_stream_etl', tableName='t_test_customer', isTemporary=False), Row(database='banda_stream_etl', tableName='t_thirdparty_data', isTemporary=False), Row(database='banda_stream_etl', tableName='t_tongdun_data', isTemporary=False), Row(database='banda_stream_etl', tableName='t_virtual_account', isTemporary=False)]
t_admin
t_admin_audit
t_admin_group_rel
t_af_bill
t_ai_rudder_schedule_mobile
t_auto_review_loan
t_bankcard
t_bankcard_merchant
t_bankcard_verify
t_case_distribution_log
t_channel_details
t_clear_detail_log
Row(col_name='deposit_disburse', data_type='boolean', comment=None)
t_code
t_collection_audit
t_collection_blacklist
t_contact
t_coupon_request
t_coupon_send
t_customer
t_customer_app
t_customer_device_info
t_customer_install_info
t_customer_tag_rel
t_employment
t_engine_rule_detail
t_file
t_group
t_hit_blacklist_record
t_invitation
t_job_metric
t_loan_app
t_loan_app_review_summary
t_loan_app_status_log
t_loan_issue
t_loan_log
t_loan_tag_rel
t_login_log
t_lpay
t_lpay_deposit
t_message
t_mobile_tag_rel
t_personal_info
t_record_bankcard
t_record_contact
t_record_employment
t_record_file
t_record_personal_info
t_review_blacklist
t_review_step_execution
t_send_coupon_rel
t_sms
t_test_customer
t_thirdparty_data
Row(col_name='deleted', data_type='boolean', comment=None)
t_tongdun_data
t_virtual_account

In [ ]:
# -*- coding: UTF-8 -*-
import sys
from concurrent import futures
import numpy as np
from pyspark.sql import SparkSession
from datetime import datetime,timedelta
import pytz
# tablemap={"banda_emr_etl":"banda"} #,
tablemap={"banda_emr_etl":"banda"}
# tableList={"banda":["t_admin","t_admin_audit"]} 
tableList={"banda":["t_lpay"]}
first=" select 'insert' as kind, '2020-08-01 23:59:59' as etldate,0 as  etlindex, "
end=" , '2020' as year,   '08' as month,  '01' as day from  "
def getTableColum(tableNm,b):
    colum=""
    for index in range(len(b)):
        colum=colum+setDef(b[index]["data_type"],b[index]["col_name"],tableNm)+", "
    return colum[0:len(colum)-2]
def setDef(type,table_col,tableNm):
    if(tableNm=='t_auto_review_loan' and type[:7] == 'boolean'):
        return "cast ("+table_col+" as string ) as "+table_col
    else:
        return table_col
def make_col_temptable(databaseName,row):
    tableName=row["tableName"]
    tablecolum="desc " +databaseName+"."+tableName;
    tableSchema= spark.sql(tablecolum).collect()
    sql=first+ getTableColum(tableName,tableSchema)+end+databaseName+"."+tableName
    path="s3://rupiahplus-data-warehouse/stream/"+tablemap[databaseName]+"_etl/"+tableName+"/"
#     spark.sql(sql).write.mode("append").partitionBy("year","month","day").orc(path)
    spark.sql(sql).show()
if __name__ == "builtins":
    spark = SparkSession\
        .builder\
        .appName("Python Demo")\
        .config("hive.metastore.client.factory.class", "com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory") \
        .enableHiveSupport()\
        .getOrCreate()
#     spark.conf.set("spark.scheduler.mode","FAIR")
    spark.conf.set("spark.sql.shuffle.partitions",20)
    for databaseName in tablemap:
        databasesql="show tables in "+databaseName
        tables=spark.sql(databasesql)
        tablelist=tables.collect();
        ls=[]
        if tablemap[databaseName] in tableList :
            for table in tableList[tablemap[databaseName]]:
                if table=='*':
                    ls =tablelist
                else:
                    ls=ls+[tb for tb in tablelist if tb["tableName"]==table]
            print(ls)
            executor=None
            with futures.ThreadPoolExecutor(max_workers=10) as executor:
                futures_result=futures.wait([executor.submit(make_col_temptable,databaseName, tableNm) for tableNm in ls])
                for  future in futures_result[0]:
                    print(future.result())

VBox()

In [9]:
sc.setCheckpointDir("s3://rupiahplus-configs/etl/reapplication_etl/")
rs=sc.parallelize([['a',20],["b",30],["c",10],['a',14],['g','100'],['b',33]])
rs.cache()
rdd1=rs.checkpoint()
rdd1.collect()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[['a', 20], ['b', 30], ['c', 10], ['a', 14], ['g', '100'], ['b', 33]]

In [1]:
rs.collect()

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

name 'rs' is not defined
Traceback (most recent call last):
NameError: name 'rs' is not defined